@media only screen and (min-width: 1200px) {
  .custom-sidebar {
    background-color: rgb(242, 244, 246);
    height: calc(100vh - 42px);
    margin-top: -0.2%;
    overflow-y: auto;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    width: 15%;
    // border-right: 2px solid rgb(232, 239, 246);
  }

  a.selected {
    background-color: white;
    /* text-decoration: underline; */
    margin-left: -5%;

    padding-left: 9px;
    padding-right: 9px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
  }
  .custom-sidebar,
  .dynamic-content {
    position: sticky;
    top: 0;
  }

  .dynamic-content {
    width: 83%;
    /* Adjust width as needed */
    margin-left: 1%;
  }
  .dynamic-content {
    margin-top: 3%;

    background-color: white;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
  }

  .custom-sidebar .links ul li {
    list-style: none;
    font-size: 78%;
    color: #454545;
    margin-bottom: 5%;

    width: 100%;
    padding-right: 10px;
  }
  .custom-sidebar .links ul a {
    color: #454545;
    font-weight: 450;
    display: flex;
  }

  .custom-sidebar ul {
    margin-top: 20%;
  }

  .custom-sidebar .fa {
    margin-right: 10%;
  }

  .collapse-menu {
    display: none;
  }
  /* Reduce the height of the input fields */
  .metric {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
  }

  li {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  ul {
    margin-left: -5%;
  }
  .code-container {
    border: 1px solid #ccd;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
    background-color: #f9f9f9;
    overflow-x: auto;
    color: black;
  }
  .content1 {
    font-size: 100%;
  }

  body {
    font-family: Roboto;
  }

  .intro {
    color: #2b2422;
    font-size: 100%;
    margin-left: 2%;
  }
  .main-title {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .writer {
    font-size: 80%;
    color: gray;
    // text-align: center;
  }
  .top-pic {
    display: block;
    height: 120px;
    width: 500px;
    margin-left: auto; /* Set the left margin to auto */
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
  }

  .writer {
    font-size: 60%;
    color: gray;
  }
  .custom-sidebar {
    transition: transform 0.3s ease;

    position: absolute;
    z-index: 2;

    background-color: rgb(242, 244, 246);
    height: calc(100dvh - 42px);
    margin-top: -0.2%;
    margin-left: -3%;
    list-style: none;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    width: 340px;
    overflow-y: auto;
  }

  .custom-sidebar .links ul li {
    list-style: none;
    font-size: 78%;
    color: #454545;
    margin-bottom: 5%;
    margin-left: -20px;
    width: 100%;
    padding-right: 2px;
  }

  .custom-sidebar ul {
    margin-top: 20%;
  }
  .sidebar.hidden {
    transform: translateX(-200px); /* Move sidebar off-screen */
  }

  .code-container {
    border: 1px solid #ccd;
    border-radius: 5px;
    padding: 1%;
    margin: 4% 0;
    background-color: #f9f9f9;
    overflow-x: auto;
    color: black;
  }

  li {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .content1 {
    font-size: 108%;
  }

  .main-title {
    font-size: 80%;
    margin-top: 1%;
  }
  .intro {
    color: #2b2422;
    font-size: 115%;
    margin-left: 2%;
  }
  .metric {
    display: block;
    justify-content: space-between;
    margin-bottom: 1%;
  }

  .top-pic {
    display: block;
    height: 80px;
    width: 200px;
    margin-left: auto; /* Set the left margin to auto */
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .dynamic-content {
    margin-top: 14%;

    background-color: white;

    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    flex-grow: 1;
  }

  .dynamic-content {
    width: 100%;

    /* Adjust width as needed */
  }

  .blogs {
    position: relative;
  }

  .collapse-menu {
    margin-top: 8%;

    margin-left: -3%;
    z-index: 1;
    position: absolute;
  }
}
