<h4>A Guide: Getting started with AWS Free tier account</h4>
<hr>

<div class="writer">
  Judah T Chisare || +263785430774 || {{my_email}}<br>
  AWS Certified Developer -Associate || AWS Certified Solutions Architech -Associate

</div>
<hr>
<img src="/assets/img/aws-free-tier.png" alt="Spinning Image" class="top-pic">
<p class="intro custom-card">
  In this blog post, I will delve into the seamless process of creating an AWS (Amazon Web Services) free tier account.
  I'll outline the requirements, included services, and explore both the advantages and disadvantanges of utilizing this
  cloud
  platform.AWS offers a wide range of services including computing power, storage, networking, databases, machine
  learning, analytics, IoT (Internet of Things), security, and much more. These services are hosted in data centers
  located in various regions around the world, allowing customers to access and utilize computing resources without
  needing to invest in physical infrastructure.

  <br>
  <br>

  The process of designing, developing, building and deploying to AWS is seamless, flexible yet very affordable
  to developers.This seamless integration of development and deployment processes on AWS empowers developers to focus
  more on innovation and less on infrastructure management, ultimately accelerating time to market and driving business
  success.
</p>

<div class="requirements custom-card">
  <h5>Requirements</h5>

  <ul>
    <li>Internationally Reconized Debit/Credit Card</li>
    <li>A minimum of 1 USD (or equivalent) in the Card</li>
  </ul>

  <br>
  <b>You dont have an Internationally Reconized Debit/Credit Card (In Zimbabwe)?</b><br><br> You can utilize your
  EcoCash VCN(Virtual Card).<br> It allows you to pay for services online by deducting money from your EcoCash USD
  wallet. You wont incur any monthly charges,<br> you are only charged when you transact.

  <br><br>
  <B>HOW TO GENERATE AN ECOCASH VIRTUAL CARD FOR ONLINE PAYMENTS</B><br><br>
  <ol>
    <li> Dial *151# and enter PIN</li>
    <li>Select "Wallet Services"</li>
    <li>Select "EcoCash Debit Card"</li>
    <li>Select "EcoCash MasterCard Virtual"</li>
    <li> Get Virtual Card Number(VCN) </li>
    <li>Then, you will receive a message with the code to use for your transaction</li>
  </ol>

  <i>There are many other options you can utilize as your payment option</i>
</div>
<Br>
<div class="steps custom-card">
  <h5>Steps :</h5>
  <ol>
    <li>Visit &nbsp;<a style="text-decoration: underline;" href="https://aws.amazon.com/free/"
        target="_blank">https://aws.amazon.com/free/aws</a></li>

    <li><img src="/assets/img/free-tier-signup.png" alt="Spinning Image" class="free-tier-signup"></li>

    <li>Fill all the required forms</li>
    <li>Provide and verify the payment Method</li>
    <li>You are good to go</li>
  </ol>

</div><br>
<div class="free-services custom-card">
  <h5>Free tier services for Developers</h5>
  Usually used AWS Free tier services used by developers
  <BR>
  <ul>
    <li>Amazon EC2</li>
    <li>Amazon Simple Storage Service (S3)</li>
    <li>Amazon Relational Database Services (RDS)</li>
    <li>AWS Lambda</li>
    <li>Amazon DynamoDB</li>
  </ul>
  <br>
  <div class="ec2 custom-card"><B>Amazon EC2</B><br>
    <p class="inner-card">Amazon EC2 is eligiable for a 12 month free tier period. You are given 750
      hours of
      Amazon EC2 instance usage
      per
      each
      month. Which means the total free tier instance usage per 12 months is 750*12.<br>

      - Only t2.micro / t3.micro EC2 instance types are eligiable for free tier.
      <br>
      <br>

      Amazon EC2 is a virtual (cloud based) server that provides developers with a flexible and scalable infrastructure
      for building,
      testing, and deploying
      software applications in the cloud.

    </p>
  </div>
  <br>
  <div class="s3 custom-card">
    <B>Amazon S3</B><br>
    <p class="inner-card">
      AWS free tier for S3 includes 5 GB of Amazon S3 Standard storage, 20,000 Get Requests, 2,000 Put Requests, and 100
      GB of
      data transfer out (to internet, other AWS Regions, or Amazon CloudFront) each month for one year. Unused monthly
      usage will not roll over to the next month.

      Amazon S3 (Simple Storage Service) is a scalable cloud storage service provided by Amazon Web Services (AWS). It
      allows developers to store and retrieve any amount of data at any time from anywhere on the web.
      <br><br>Developers
      utilize
      S3 primarily for three key purposes:<Br>

      <b>Object Storage</b>: It serves as a robust storage solution for a diverse range of data types including files,
      images,
      datasets, documents, videos, and more.<br><br>

      <b>Static Website Hosting</b>: S3 enables developers to effortlessly host static websites, providing a
      cost-effective and
      scalable solution for serving web content.
      <br><br>
      <b>Data Backup and Archiving</b>: Developers leverage S3 for data backup and archiving needs, capitalizing on its
      durability, reliability, and flexible storage options.
    </p>
  </div>
  <br>
  <div class="rds custom-card">
    <B>Amazon RDS</B><br>
    <p class="inner-card">AWS free tier for RDS includes 750 hours of Amazon RDS Single-AZ
      instances usage for running MySQL, PostgreSQL, MariaDB, or db.t2.micro instance usage running SQL Server (running
      SQL Server Express Edition); 20 GB of general purpose SSD database storage and 20 GB of storage for database
      backup
      and database snapshots.<br><br>Amazon RDS (Relational Database Service) is a managed relational database
      service offered by Amazon Web Services (AWS). It's designed to simplify the process of setting up, operating, and
      scaling a relational database in the cloud.
      <br>
      <br>
      Amazon RDS supports several popular relational database engines, including MySQL, PostgreSQL, MariaDB, Oracle, and
      Microsoft SQL Server.
    </p>
  </div>
</div>