<h4>A Guide: Getting started with AWS Free tier account</h4>
<hr>

<div class="writer">
  Judah T Chisare || +263785430774 || {{my_email}}<br>
  AWS Certified Developer -Associate || AWS Certified Solutions Architech -Associate

</div>
<hr>
<img src="/assets/img/aws-free-tier.png" alt="Spinning Image" class="top-pic">
<p class="intro custom-card custom-mt">
  In this blog post, I will delve into the seamless process of creating an AWS free tier account.
  I'll outline the requirements, included services, and explore the advantages of utilizing this
  cloud platform.

  <span class="break"></span>


  This seamless integration of development and deployment processes on AWS empowers developers to focus
  more on innovation and less on infrastructure management, ultimately accelerating time to driving business
  success.
</p>

<div class="requirements custom-card">
  <h5>Requirements</h5>

  <ul>
    <li>Internationally Reconized Debit/Credit Card</li>
    <li>A minimum of 1 USD (or equivalent) in the Card</li>
  </ul>

  <b>You dont have an Internationally Reconized Debit/Credit Card (In Zimbabwe)?</b><br>

  <span class="custom-mt"> You can utilize your
    EcoCash VCN(Virtual Card).<br> It allows you to pay for services online by deducting money from your EcoCash USD
    wallet. You wont incur any monthly charges, you are only charged when you transact.</span>

  <br><br> <B class="custom-mt">HOW TO GENERATE AN ECOCASH VIRTUAL CARD FOR ONLINE PAYMENTS</B><br>
  <ol>
    <li class="custom-mt"> Dial *151# and enter PIN</li>
    <li class="custom-mt">Select "Wallet Services"</li>
    <li class="custom-mt">Select "EcoCash Debit Card"</li>
    <li class="custom-mt">Select "EcoCash MasterCard Virtual"</li>
    <li class="custom-mt"> Get Virtual Card Number(VCN) </li>
    <li class="custom-mt">Then, you will receive a message with the code to use for your transaction</li>
  </ol>

  <i style="font-size: 80%;">There are many other options you can utilize as your payment option</i>
</div>
<Br>
<div class="steps custom-card">
  <h5>Steps :</h5>
  <ol>
    <li class="custom-mt">Visit &nbsp;<a style="text-decoration: underline;" href="https://aws.amazon.com/free/"
        target="_blank">https://aws.amazon.com/free/aws</a></li>

    <li c.lass="custom-mt"><img src="/assets/img/free-tier-signup.png" alt="Spinning Image" class="free-tier-signup">
    </li>

    <li class="custom-mt">Fill all the required forms</li>
    <li class="custom-mt">Provide and verify the payment Method</li>
    <li class="custom-mt">You are good to go</li>
  </ol>

</div><br>
<div class="free-services custom-card">
  <h5>Free tier services for Developers</h5>
  Usually used AWS Free tier services used by developers
  <BR>
  <ul>
    <li class="custom-mt">Amazon EC2</li>
    <li class="custom-mt">Amazon Simple Storage Service (S3)</li>
    <li class="custom-mt">Amazon Relational Database Services (RDS)</li>
    <li class="custom-mt">AWS Lambda</li>
    <li class="custom-mt">Amazon DynamoDB</li>
  </ul>
  <br>
  <div class="ec2 custom-card "><B>Amazon EC2</B><br>
    <p class="inner-card custom-mt">Amazon EC2 is eligiable for a 12 month free tier period. You are given 750
      hours of
      Amazon EC2 instance usage
      per
      each
      month. Which means the total free tier instance usage per 12 months is 750*12.<span class="break"></span>

      - Only t2.micro / t3.micro EC2 instance types are eligiable for free tier.
      <br>
      <br>

      Amazon EC2 is a virtual (cloud based) server that provides developers with a flexible and scalable infrastructure
      for building,
      testing, and deploying
      software applications in the cloud.

    </p>
  </div>
  <br>
  <div class="s3 custom-card">
    <B>Amazon S3</B><br>
    <p class="inner-card custom-mt">

      Amazon S3 (Simple Storage Service) is a scalable cloud storage service provided by Amazon Web Services (AWS). It
      allows developers to store and retrieve any amount of data at any time from anywhere on the web.
      <br><br>
      AWS free tier for S3 includes 5 GB of Amazon S3 Standard storage, 20,000 Get Requests, 2,000 Put Requests, and 100
      GB of data transfer each month for one year.
      <br><br>
      Developers
      utilize
      S3 primarily for three key purposes:<Br>

      <b>Object Storage</b>: It serves as a robust storage solution for a diverse range of data types including files,
      images,
      datasets, documents, videos, and more.<br><br>

      <b>Static Website Hosting</b>: S3 enables developers to effortlessly host static websites, providing a
      cost-effective and
      scalable solution for serving web content.
      <br><br>
      <b>Data Backup and Archiving</b>: Developers leverage S3 for data backup and archiving needs, capitalizing on its
      durability, reliability, and flexible storage options.
    </p>
  </div>
  <br>
  <div class="rds custom-card">
    <B>Amazon RDS</B><br>
    <p class="inner-card custom-mt">AWS free tier for RDS includes 750 hours of Amazon RDS Single-AZ
      instances usage for running MySQL, PostgreSQL, MariaDB, or db.t2.micro instance usage running SQL Server (running
      SQL Server Express Edition); 20 GB of general purpose SSD database storage and 20 GB of storage for database
      backup
      and database snapshots.<br><br>Amazon RDS (Relational Database Service) is a managed relational database
      service offered by Amazon Web Services (AWS). It's designed to simplify the process of setting up, operating, and
      scaling a relational database in the cloud.
      <br>
      <br>
      Amazon RDS supports several popular relational database engines, including MySQL, PostgreSQL, MariaDB, Oracle, and
      Microsoft SQL Server.
    </p>
  </div>
</div>