@media only screen and (min-width: 1200px) {
  .header {
    background-color: rgb(242, 244, 246);
    padding: 0%;
    margin-bottom: 2%;
    box-shadow: 1px 2px white;
  }
  .collapse-menu {
    display: none;
  }
  .Brand {
    font-size: 80%;
    color: black;
    margin-left: 10%;
  }
  .nav-top {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar > ul > li {
    // white-space: nowrap;
    padding-left: 6px;
    padding-right: 6px;
  }

  .navbar a,
  .navbar a:focus {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    // padding: 6;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
    position: relative;
    text-transform: uppercase;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: #fff;
  }
}
@media only screen and (max-width: 1200px) {
  .navbar ul {
    display: block;
    text-decoration: none;
    list-style: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    background-color: rgb(242, 244, 246);
    padding: 0%;
    margin-bottom: 2%;
    box-shadow: 1px 2px white;
  }

  .Brand {
    font-size: 97%;
    color: black;
    margin-left: 1%;
  }
  .nav-top {
    align-items: center;
    padding: 0%;
  }

  .mobile-nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0%;
  }

  .navbar {
    padding: 0%;
  }
}
