<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>JUDAH CHISARE DEV PORTFOLIO</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- Add this line to the head section of your HTML file -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
    rel="stylesheet">

  <style>
    a.selected {
      background-color: white;
      /* text-decoration: underline; */
      padding: 5px;
      padding-left: 9px;
      padding-right: 9px;
      border-radius: 2px;
    }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header" style="padding: 0;">
    <div class="nav-top" style="padding: 0%;">

      <div class="mobile-nav">
        <h6 class="Brand"><a href="index.html">JudeTech</a></h6>
        <div class="collapse-menu">
          <button (click)="toggle_sidebar()" class="btn sm"><i class="fa fa-bars" style="color: #454545;"
              aria-hidden="true"></i></button>
        </div>
      </div>

      <nav id="navbar" class="navbar">
        <ul *ngIf="sidebar">
          <li><a style="font-size: 80%;color: black;" (click)=" home_func()" class="nav-link " [class.selected]="home"
              href="/portfolio?page=home">Portfolio</a>
          </li>
          <li><a style="font-size: 80%;color: black;" (click)=" blogs_func()" class="nav-link "
              href="/blogs/aws-free-tier?nav=freetier" [class.selected]="blogs">Blogs</a></li>
          <li><a style="font-size: 80%;color: black;" class="nav-link  " href="#work">Work</a></li>
          <li><a style="font-size: 80%;color: black;" class="nav-link " href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>


  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->

  <div>
    <router-outlet></router-outlet>
  </div>

</body>