@media only screen and (min-width: 1200px) {
  .writer {
    font-size: 80%;
    color: gray;
    // text-align: center;
    padding: 0;
  }

  .top-pic {
    display: block;
    height: 300px;
    width: 800px;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .docs-pic {
    display: block;
    height: 250px;
    width: 800px;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .code-container {
    border: 1px solid #ccd;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 5px;

    padding-bottom: 0;
    margin: 5px 0;
    background-color: black;
    overflow-x: auto;
    color: white;
  }
  .links {
    display: flex;
    justify-content: space-between;
    width: 30%;
    cursor: pointer;
  }

  .custom-card span:hover {
    /* Styles to apply when hovering over the <b> element within <span> */
    color: rgb(21, 21, 47); /* For example, changing text color to red */
    text-decoration: dotted;
  }
}
@media only screen and (max-width: 1200px) {
  .writer {
    font-size: 80%;
    color: gray;
    // text-align: center;
    padding: 0;
  }

  .links {
    display: flex;
    justify-content: space-between;
    width: 60%;
    font-size: 80%;
    cursor: pointer;
  }

  .custom-card span b:hover {
    /* Styles to apply when hovering over the <b> element within <span> */
    color: navy; /* For example, changing text color to red */
  }
}
