<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>JUDAH CHISARE DEV PORTFOLIO</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- Add this line to the head section of your HTML file -->



</head>
<div class="dynamic-content"> <!-- ======= About Section ======= -->

  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="assets/img/juloh.jpg" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info" style="font-family: ui-serif">
                      <p><span class="title-s">Name: </span> <span class="contact-details">Judah T Chisare</span></p>
                      <p><span class="title-s">Profile: </span> <span class="contact-details">Full Stack
                          developer</span></p>
                      <p><span class="title-s">Email: </span> <span class="contact-details">{{my_email}}</span>
                      </p>
                      <p><span class="title-s">Phone: </span> <span class="contact-details">+263 785430774</span></p>
                      <p><span class="title-s">Gender: </span> <span class="contact-details">Male</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  <span class="skills-text">AWS </span> <span class="pull-right skills-text" style="color: green;">
                    85%</span>
                  <div class="progress">

                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span class="skills-text">Python (FAST API)</span> <span class=" pull-right skills-text">85%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>


                  <span class="skills-text">Angular</span> <span class=" pull-right skills-text">85%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>

                  <span class="skills-text">Python (Django)</span> <span class=" pull-right skills-text">75%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>

                  <span class="skills-text">Java (Spring Boot)</span> <span class=" pull-right skills-text">65%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>

                  <span class="skills-text">GIT</span> <span class=" pull-right skills-text">90%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="skills-image">
                  <img style="width: 100%;margin-top: -6%;" src="assets/img/skills.png">
                  <hr>
                  <br>
                </div>
                <div class="about-me">
                  <div class="">
                    <h5 style="text-decoration: underline; color: gray">
                      Summary
                    </h5>
                  </div>
                  <p class="lead" style="font-family: ui-serif;font-size:90%;color:gray">
                    A result driven and proactive professional who desires to see the betterment of human life through
                    the application of technological innovation, rebranding and digital transformation.

                  </p>
                  <p class="lead" style="font-family: ui-serif;font-size:90%;color:gray">
                    Experienced in software development, with much focus on API development, Endpoint security,
                    Testing, Microservices, CI/CD and ETL using backend frameworks including and not limited
                    to Spring Boot (Java) , FastApi/Django(Python) , and ASP. NET core(C#) .

                  </p>
                  <p class="lead" style="font-family: ui-serif;font-size:90%;color:gray">
                    Experienced in end to end advanced analytics from data extraction to visualization using data
                    analytics tools including and not limited to Python, SQL, PowerBI, Qlik sense, Azure Data Factory,
                    Azure Synapse, Excel, Databricks, SSIS and SSMS.
                    As an emerging technologies enthusiasts, l also strive to contribute to the development and
                    adaption of data driven decisions, smart and secure cloud solutions .

                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->

  <!-- ======= Certifications Section ======= -->
  <div class="certifications" style="display: block;">
    <b>Certifications</b>
    <hr>

    1. AWS Certified Developer – Associate, December 2023 <a
      href="https://www.credly.com/earner/earned/badge/3c43d1bf-a2ce-4a6b-bda7-66b9b567cfad"
      style="float: right;">view</a><br>
    2. AWS Certified Solutions Architect – Associate, June 2023 <a
      href="https://www.credly.com/earner/earned/badge/0d759fe8-7454-4ed3-b06c-5257267ce4ac"
      style="float: right;">view</a><br>
    3. Microsoft Certified Azure Fundamentals, October 2021 <a
      href="https://www.credly.com/earner/earned/badge/d677095e-0afb-4e5c-94e0-aff75029560a"
      style="float: right;">view</a><br>

  </div>

  <!-- ======= Services Section ======= -->
  <!-- ======= Services Section ======= -->
  <section id="services" class="services-mf pt-5 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a" style="font-size:180%">
              Desciplines
            </h3>
            <p class="subtitle-a">

            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-back"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Backend Development</h2>
              <p class="s-description text-center">

                <i>Tools: <span style="color:navy;font-size:80%">Python, Java, C#, SQL, frameworks[Django Rest
                    Framework, flask, fastApi, Spring Boot, ASP.NET Core]</span></i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-display"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Frontend Development</h2>
              <p class="s-description text-center">

                <i>Tools: <span style="color:navy;font-size:80%">Angular, HTML5, CSS3, Bootstrap 5, Javascript,
                    Typescript, Tailwind</span></i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-cloud"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Cloud </h2>
              <p class="s-description text-center">
                <i>Tools: <span style="color:navy;font-size:80%">AWS(Lambda, ECS, CloudFormation, RDS, S3, CloudWatch,
                    XRay, DynamoDB,SQS,SES, IAM, Systems Manager, Code Pipeline)</span></i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-graph-up"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Data Analysis</h2>
              <p class="s-description text-center">
                <i>Tools: <span style="color:navy;font-size:80%">Python, R, PowerBI, QlikSense, Tableau, MySQL, Excel,
                    SAS </span></i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-cloudbi bi-clipboard-data"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Data Engineering</h2>
              <p class="s-description text-center">

                <i>Tools: <span style="color:navy;font-size:80%">DataBricks, Hadoop, Amazon Glue, Kinesis, Data
                    Pipeline, Regshift, Python, Azure Data Factory, Azure Synapse Analysis, SQL Server 2019</span></i>

              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-store"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Database Administration</h2>
              <p class="s-description text-center">

                <i>Tools: <span style="color:navy;font-size:80%">SQL Server Management Studio, MySQL, Oracle RDBMS,
                    PhpMyAdmin</span></i>

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->

  <!-- ======= Counter Section ======= -->
  <!-- ======= Portfolio Section ======= -->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a" style="font-size:180%">
              Portfolio
            </h3>
            <p class="subtitle-a">
              My Projects
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/bbs1.PNG" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="assets/img/bbs1.PNG" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h4 class="w-title">Barber Booking System</h4>
                  <div class="w-more">
                    <span class="w-ctegory">Full Stack Web </span> / <span class="w-date" style="color:pink">20
                      August. 2021</span>
                  </div>

                  <div class="w-more">
                    <span class="w-ctegory" style="color:gray">Python | Django Rest Framework | PostgreSql | Angular |
                      Typescript</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="https://barberbooking-zw.herokuapp.com/customers/login"> <span
                        class="bi bi-plus-circle"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/one.PNG" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="assets/img/one.PNG" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h4 class="w-title">University Recommender Engine</h4>
                  <div class="w-more">
                    <span class="w-ctegory">Artificial Intelligence</span> / <span class="w-date">18 June. 2022</span>
                    <span class="w-ctegory" style="color:gray">Python | Django | PostgreSql | PowerBI | Tensorflow
                      |fastApi |</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href=""> <span class="bi bi-plus-circle"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="https://goodhabits-cv41is5z0-tmnyoni.vercel.app/p/savings" data-gallery="portfolioGallery"
              class="portfolio-lightbox">
              <div class="work-img">
                <img src="assets/img/budgeting.png" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h4 class="w-title">Personal Budgeting</h4>
                  <div class="w-more">
                    <span class="w-ctegory">Personal Financial Service</span> / <span class="w-date">13 January.
                      2024</span>
                    <span class="w-ctegory" style="color:gray">Typescript | NodeJS | React | MongoDB | Tailwind
                      |aws |</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="https://goodhabits-cv41is5z0-tmnyoni.vercel.app/p/savings"> <span
                        class="bi bi-plus-circle"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= Blog Section ======= -->

  <!-- End Blog Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" style="background-color:rgb(146, 152, 162);"
    class="paralax-mf footer-paralax bg-image sect-mt4 route">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Email Me
                    </h5>
                  </div>
                  <div>
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                              required>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                              required>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                              required>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message"
                              required></textarea>
                          </div>
                        </div>
                        <div class="col-md-12 text-center my-3">
                          <div class="loading">Loading</div>
                          <div class="error-message"></div>
                          <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="col-md-12 text-center">
                          <button type="submit" class="button button-a button-big button-rouded">Send
                            Message</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Get in Touch
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">

                    </p>
                    <ul class="list-ico">
                      <li><span class="bi bi-geo-alt"></span> 5857 Westlea, Harare, Zimbabwe</li>
                      <li><span class="bi bi-phone"></span> +263 785430774</li>
                      <li><span class="bi bi-envelope"></span> {{my_email}}</li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href="https://www.facebook.com/judahtamiriraishe.chisare"><span class="ico-circle"><i
                              class="bi bi-facebook"></i></span></a></li>
                      <li><a href="https://www.instagram.com/juloh.t.c/"><span class="ico-circle"><i
                              class="bi bi-instagram"></i></span></a></li>
                      <li><a href="https://twitter.com/jaycea247"><span class="ico-circle"><i
                              class="bi bi-twitter"></i></span></a></li>
                      <li><a href="https://www.linkedin.com/in/judah-t-chisare-a1b998174/"><span class="ico-circle"><i
                              class="bi bi-linkedin"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->


  <!-- ======= Footer ======= -->



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>


  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</div>